<h1>Agregar Paciente.</h1>
<form class="col s12 border border-dark" #registrarPaciente="ngForm" (ngSubmit)="OnSubmit(registrarPaciente);">
    <div style="width: 1100px;position: relative;margin-left:auto;margin-right: auto;">
    <div class="row">
      <div class="input-field col s5">
        <input type="number" class="validate" name="personasId" [(ngModel)]="personasId" required>
        <label>Identificacion</label>
      </div>
      <div class="input-field col s3">
        <div>
          <label for="myListOptions">rango salarial</label>
        <select class="browser-default border border-dark" name="rangosalario" [(ngModel)]="rangosalario">
          <option *ngFor="let rango of rangosalarial" [ngValue]="rango.RangoSalario_Id">{{rango.RangoSalario_Nombre}}</option>
        </select>
      </div>
    </div>
    </div> 
      
    <div class="row">
  <div class="input-field col s3">
        <div>
          <label for="myListOptions">tipo de vinculacion</label>
        <select class="browser-default border border-dark" name="vinculacionTipoId" [(ngModel)]="vinculacionTipoId">
          <option *ngFor="let vinculacion of vinculaciones" [ngValue]="vinculacion.vinculacionTipoId">{{vinculacion.vinculacionTipoNombre}}</option>
        </select>
      </div>
    </div>
    <div class="input-field col s3">
      <div>
        <label for="myListOptions">estado de activacion</label>
      <select class="browser-default border border-dark" name="activacionId" [(ngModel)]="activacionId">
        <option *ngFor="let estado of estadoactivacion" [ngValue]="estado.estado_activacion_Id">{{estado.estado_activacion_Nombre}}</option>
      </select>
    </div>
  </div>
    <div class="input-field col s3">
      <div>
        <input type="date" class="validate" name="fechaingreso" [(ngModel)]="fechaingreso" required>
      <label>Fecha de ingreso</label>
    </div>
  </div>
  <div class="input-field col s3">
    <div>
      <input type="date"  name="fecharetiro" [(ngModel)]="fecharetiro">
    <label>Fecha de retiro</label>
  </div>
</div>
  </div>
    <div class="row">
      <div class="center-align input-field col s4">
        <button class="btn-large btn-submit" type="submit">Agregar Paciente</button>

      </div>
      <div class="center-align input-field col s4">
        <button  class="btn-large btn-submit" type="button" [routerLink]='["/listarpaciente"]'>Cancelar</button>

      </div>
    </div>
    </div>  
</form>
